@model MvcEmployee.Models.Employee

@{
    ViewData["Title"] = "Details";
}

<div>
    <a asp-action="Index">
        <button class="btn btn-outline-primary btn-sm rounded-circle me-2">←</button>Back to List
    </a>
</div>
<div class="d-flex justify-content-between align-items-end">
    <div class="d-flex align-items-end gap-2 mt-2">
        <h1 class="m-0">Details</h1>
        <h4 class="mb-1">Employee</h4>
    </div>
    <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-secondary ml-auto" style="height: fit-content;">✎
        Edit</a>
</div>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.JobTitle)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.JobTitle)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Salary)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Salary)
        </dd>
    </dl>
</div>
