@model IEnumerable<MvcEmployee.Models.Employee>

@{
    ViewData["Title"] = "Employees List";
}

<section class="container">

    <div class="d-flex justify-content-between mb-3">
        <h1>Employees List</h1>
        <a class="btn btn-primary px-4 align-content-center" asp-controller="Employees" asp-action="Create">⊕ New
            Employee</a>
    </div>

    <table class="table  table-hover w-auto m-auto">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.FirstName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.LastName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.JobTitle)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Salary)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.FirstName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LastName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.JobTitle)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Salary)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id" title="Edit Employee"
                            class="btn btn-outline-primary btn-sm">✎ Edit</a>
                        <a asp-action="Details" asp-route-id="@item.Id" title="Employee Details"
                            class="btn btn-outline-secondary btn-sm">◫ Details</a>
                        <a asp-action="Delete" asp-route-id="@item.Id" title="Delete Employee"
                            class="btn btn-outline-danger btn-sm">🅇 Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</section>
